body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
}

/* HEADER */
.admin-header {
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding: 15px;
  position: relative;
  background: white;
}

.logout-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  background: #e74c3c;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

/* BUTTON AREA */
.top-buttons {
  text-align: center;
  margin-top: 20px;
}

.top-buttons button {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background: #2c7be5;
  color: white;
  cursor: pointer;
}

/* CENTER */
.center-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* CARD */
.box {
  background: white;
  padding: 40px;
  width: 600px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.08);
  text-align: center;
}

.box h2 {
  margin-bottom: 30px;
}

/* INPUT */
.box input {
  margin-top: 20px;
}

/* BUTTON */
.box button {
  margin-top: 30px;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  background: #2c7be5;
  color: white;
  cursor: pointer;
}

/* INFO BLOCK */
.info-block {
  margin-top: 20px;
  text-align: left;
}

/* LABEL */
.info-block label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

/* VALUE */
.value-box {
  background: #f4f6fa;
  padding: 12px;
  border-radius: 6px;
  font-size: 13px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* TABLE */
.patient-table {
  width: 70%;
  margin: 30px auto;
}

.patient-table table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.patient-table th,
.patient-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

.patient-table th {
  background: #f0f2f5;
}
